@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 14vh;
  background-color: hsl(217, 28%, 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway";
  font-size: 14px;
}

.nav-items {
  display: flex;
  color: white;
  width: 230px;
  justify-content: space-around;
  margin-right: 2rem;
}

.logo {
  height: 40px;
  margin-left: 1rem;
}

.nav-items > h3:hover {
  color: hsl(176, 68%, 64%);
  cursor: pointer;
}


.intro-section {
    min-height: 105vh;
    width: 100vw;
    background-color: hsl(217, 28%, 15%);
    background-image: url('./images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 120rem;


}


.intro-section-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.intro-section-content > h3 {
  font-size: 6vmin;
  padding: .2rem;
  text-align: center;
  color: white;
  font-family: "open sans";
  font-weight: 900;
}


.intro-section-content > h4 {
  font-size: 1rem;
  padding: 1rem;
  color: white;
  text-align: center;
  font-family: Raleway;
  margin-top: -1rem;
}


.intro-section-content > button {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding: 1rem 4rem;
  border-radius: 50px;
  color: white;
  border: none;
  font-family: 'Open sans';
  font-weight: 900;
  cursor: pointer;
}

.intro-section-content > button:hover {
  filter: brightness(1.2)
}

.intro-section-content > img {
  height: 50vmin;
}

.features-section {
  width: 100vw;
  background-color: hsl(218, 28%, 13%);
  color: white;
  display: flex;
  justify-content: center;
}

.features-section img {
  height: 50px;
}


.features-section h1 {
  font-family: 'open sans';
}

.features-section p {
  font-family: Raleway;
  font-size: 0.9rem;
}

.features-container {
  display: flex;
  max-width: 60%;
  padding-top: 3rem;
  flex-flow: wrap;
  justify-content: space-between;

}

.features-container > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 350px;
 min-height: 50vh;
  
}

.stay-productive-section {
  width: 100vw;
  min-height: 60vh;
  background-color:hsl(218, 28%, 13%) ;
  display: flex;
  justify-content: center;
  color: white;
  gap: 2rem;
}

.stay-productive-section h1 {
  font-family: 'open sans';
  font-size: 6vmin;
}

.stay-productive-section p {
  font-family: Raleway;
  font-size: 1rem;
  max-width: 500px;
}

.button {
  display: flex;
  background-color: transparent;
  color: hsl(176, 68%, 64%);
  width: 170px;
  border: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.button:hover {
  color: white;
  border-bottom-color: white;
}

.button img {
  object-fit: contain;
  height: 25px;
}

.button p {
  font-size: .9rem;
}


.stay-productive-image > img {
  height: 70vmin;
}



.profiles-section {
  width: 100vw;
  min-height: 50vh;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;

}


.profiles-section > div {
  padding-top: 3.2rem;
  width: 95vw;
  background: url('./images/bg-quotes.png') no-repeat top left;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  color: white;
}

.profiles-section p {
  font-family: 'open sans';
  font-weight: 400;
  font-size: 0.9rem;
}

.profiles-section h5, .profiles-section h6 {
  font-family: 'open sans';
  font-weight: 400;
}

.profiles-section > div > div {
  background-color: #202a3c;
  padding: 1rem;
}





.profile-content > img {
  height: 40px;
  border-radius: 50%;
}

.profile-content {
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 1rem;
}



footer {
  min-height: 100vh;
  width: 100vw;
  background-color: #0b1523;
  position: relative;
}

.get-registered-container {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.get-registered-container > input {
  width: 75%;
  padding: 16px 25px;
  border-radius: 50px;
  border-radius: 50px;
}


.get-registered-container > button {
  border-radius: 50px;
  padding: 1rem 3rem;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  font-family: 'Open sans';
  font-weight: 700;
  font-size: 1rem;
  width: 300px;
  margin-left: 1.3rem;
}



.get-registered-container > button:hover  {
  filter: brightness(1.2);
  cursor: pointer;
}

.form {
  margin: auto;
  width: 900px;
  height: 250px;
  background-color: #1c2431;
  display: flex;
  flex-flow: column;
  color: white;
  text-align: center;
  transform: translate(0, -50%);
  justify-content: space-around;
  font-family: 'Open sans';
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  gap: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  padding: 1rem;
}

.footer-nav img {
  height: 30px;
}

.nav-logo img {
  height: 50px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.location-info {
  display: flex;
  height: max-content;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.location-info p {
  width: 400px;
  font-size: 1.2rem;
}

.contact-details {
  display: flex;
  flex-flow: column;
  gap: .3rem;
  height: max-content;
  flex-wrap: wrap;
}

.phone-info, .email-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.phone-info img, .email-info img{
  height: 20px;
}


.nav-links {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1068px){
  .stay-productive-section  {
    flex-flow: column;
    justify-content: center;
  }

  .stay-productive-content {
    text-align: center;
    max-width: 90%;
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: center;
  }

  .features-container {
  justify-content: center;

  }

  .footer-nav {
    width: 100vw;
  }

  .nav-items {

  }

  footer {
  min-height: 130vh;

  }

  .stay-productive-image img {
    margin: auto;
    display: block;
  }

  .button {
    margin: auto;
  }

  .profiles-section > div > div {

    max-width: 200px;
  }

  .profiles-section {
    padding-top: 2rem;
    padding-bottom: 20rem;
  min-height: 140vh;
}


}


@media (max-width: 1000px){

  .form {
    height: max-content;
    width: 80vw;
    padding: 1rem;
  }



  .get-registered-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .get-registered-container > button {
      width: max-content;
  }
}

@media (max-width: 1350px){
  .profiles-section > div {
    flex-flow: column;
    align-items: center;
    width: 500px;
    gap: 2rem;
  }


 
}